body {
    background-color: #141414;
    font-family: Arial, sans-serif;
    /* color: #fff; */
}

.slideMain {
    background-size: 100%;
    background-position: cover;
    height: 100vh;
    overflow: hidden;
}

.slideBackdrop {
    filter: brightness(30%);
}

.carousel-item,
.carousel-inner {
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10% !important;
}

.carousel-caption {
    bottom: 15%;
    left: 10%;
    right: 10%;
}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* Hide right scrollbar for Chrome, Safari and Opera */
.listFilm::-webkit-scrollbar {
    width: 0;
    height: 8px;
    display: none;
}

/* Show bottom scrollbar */
.listFilm::-webkit-scrollbar-corner {
    background-color: #F5F5F5;
}

.listFilm::-webkit-scrollbar-thumb {
    background-color: #959595;
    height: 3px !important;
    border-radius: 3px;
}

.listFilm:hover::-webkit-scrollbar {
    display: block;
    height: 8px;
}

.listFilm:hover::-webkit-scrollbar-thumb:hover {
    height: 8px;
    background-color: #d1d1d1;
}

.carousel.listFilm {
    padding: 20px 15px;
    flex-wrap: nowrap;
    overflow: scroll;
}

.overview {
    text-align: justify;
}

.filmName {
    font-size: 50px;
    font-weight: 700;
    text-align: justify;
}

.genre-block {
    width: 90px;
    height: 30px;
    background-color: #DF497F;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#movie_player {
    display: none;
}

.btn-watch,
.btn-inf {
    color: #fff;
    width: 150px;
    height: 50px;
}

.btn-watch {
    background-color: #00CC21;
    /* border: solid 2px #bdffc8b3; */
}

.btn-watch:hover {
    color: #fff;
    box-shadow: 0 0 10px #39ff14;
}

.markFilm h5 {
    margin: unset;
}

.labelMark,
.labelMark_user {
    font-weight: 600;
    padding: 0 5px;
    background-color: #ffcc15
}

.labelMark {
    color: #000000;
    background-color: #ffcc15
}

.labelMark_user {
    color: #fff;
    background-color: #00CC21
}

.btn-inf {
    color: #fff;
    background-color: none;
    border: solid 2px #fff;
}

.btn-inf:hover {
    background-color: #fff;
    color: #00CC21;
}

.trailerBtn {
    background-color: #00CC21;
    color: #fff;
}

.overlay {
    transition: 1s;
}

#trailerVideo {
    display: block;
}

.watchThumbnail:hover {
    cursor: pointer;
}

.card-body {
    font-size: 12px;
}

.favouriteTotal i {
    line-height: unset;
}

.favouriteTotal b {
    color: #00CC21;
}

.watchLink {}

.watchLink h3 {
    font-size: 15px;
    padding: unset;
    white-space: normal !important;
    width: 25% !important;
    cursor: pointer;
    opacity: 0;
}

.watchLink:hover .watchThumbnail {
    filter: blur(1px) brightness(70%);
    -webkit-filter: blur(1px) brightness(70%);
}

.watchLink:hover h3 {
    opacity: 1;
}

.linkToDetail:hover {
    cursor: pointer;
    color: #00CC21;
}

.listFilmSort {
    background: linear-gradient(180deg, rgba(46, 46, 46, 0.73) -5.42%, rgba(4, 4, 4, 0.1) 44.58%, rgba(59, 59, 59, 0.54) 94.58%);
}

.titleGenre .badge {
    font-size: 13px;
}

.nameGenre {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.listGenre {
    overflow: scroll;
}

.listGenre label {
    position: relative;
    cursor: pointer;
    width: 15%;
}

.boxGenre {
    width: 100%;
    height: 50px;
}

.listGenre label input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.listGenre label input[type="checkbox"]:checked~.boxGenre {
    background-color: #fff !important;
}